
body{
    background-color: rgba(255, 228, 196, 0.625);
    display: flex;
    justify-content: center;
}
.main{
    border: 2px solid gray;
    text-align: center;
    margin:50px;
    margin-bottom: 5px;
    padding: 20px 10px;
    width: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(191, 199, 206, 0.409);

}
.field{
    
    padding: 10px;
    align-items: center;
}
.field label{
    font-size: 18px;
    
}
.field input{
    font-size: 18px;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
}
.main button{
    background-color: rgba(58, 156, 192, 0.641);
    padding: 5px 20px;
    border-radius: 5px;
    margin-left: 200px;
    margin-top: 25px;

}